.default-button {
    height: 24px;
    display: inline-block;
    line-height: 20px;
    border: 1px solid #999999;
    color: #333333;
    cursor: pointer;
    background-color: #c0c0c0;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}


.default-button:hover {
    background-color: #d1d1d1;
}

.default-button:active {
    background-color: whitesmoke;
}