.menu-bar {
    margin: 0;
    padding: 0px 12px;
    border: 0;
    background-color: #dddddd;
    border-bottom: 1px solid #666;
    cursor: default;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 28px;
    font-weight: 400;
    font-size: 13px;
    white-space: nowrap;
    display: inline-flex;
    box-shadow: 0px 2px 5px #666;
}

.btn-menu {
    border: none;
    outline: 0;
    background-color: inherit;
    padding: 6px;
    cursor: pointer;
    display: inline-block;
}

.user-dropdown:after {
    content: '';
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23919191' d='M12 21l-12-18h24z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10px;
    height: 10px;
    float: right;
    margin: 4px 0 0 5px;
}

.drop-menu {
    background-color: #dddddd !important;
    border: 1px solid #aaaaaa !important;
    padding-left: 0px;
    box-shadow: 2px 2px 3px #666  !important;
    min-width: 175px;
}

.drop-menu:hover .rc-menu--open {
    display: block !important;
}

.btn-menu:hover,
.btn-menu.rc-menu-button--open {
    background-color: #3498db;
    color: whitesmoke;
}

.rc-menu__item--hover {
    background-color: #3498db !important;
    color: whitesmoke !important;
}

.rc-menu__item--hover span {
    color: whitesmoke !important;
}

.rc-menu__item span {
    font-size: 11px;
    color: #999;
    float: right;
    right: 10px;
    left: auto;
    position: absolute;
}