.react-responsive-modal-modal {
    min-height: 100px !important;
    width: 500px !important;
    background-color: #ddd !important;
    border: 10px solid #ccc !important;
    padding: 0 !important;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.react-responsive-modal-modal div.contents.vertical-scroll {
    background-color: whitesmoke;
    padding: 1rem;
    overflow-y: auto;
}

.react-responsive-modal-modal div.toolbar {
    position: absolute;
    background-color: #ccc;
    left: 0px;
    top: 0px;
    height: 23px;
    font-family: 'source_sans_prosemibold', sans-serif;
    font-weight: bold;
    line-height: 14px;
    color: #444;
    text-align: left;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.react-responsive-modal-closeButton {
    color: #666;
    right: 0px !important;
    top: -5px !important;
    font-weight: bold;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
}

div.toolbar button.close-btn span.close {
    cursor: pointer;
}


.modal-table {
    width: 100%;
    border: none;
    margin-top: 1rem;
}

.modal-table tbody tr td {
    padding: .5rem;
    border: none;
}

.modal-td-title {
    text-align: right;
}