.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #ddd;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: 0.5s;
}


.accordion-content-button {
    height: 24px;
    display: inline-block;
    line-height: 20px;
    border: 1px solid #999999;
    color: #333333;
    cursor: pointer;
    background-color: #c0c0c0;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 13px;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    padding: 2px 6px 3px;
}


.accordion-button {
    font-weight: 600;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #cccccc;
    border-bottom: 1px solid #aaa;
}


.accordion-button::before {
    /* content: "\203A"; */
    content: '';
    display: block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNi4wMjggMHY2LjQyNWw1LjU0OSA1LjU3NS01LjU0OSA1LjU3NXY2LjQyNWwxMS45NDQtMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 15px;
    float: left;
    margin: 3px 6px 0 0;
}


.new-comment-content {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    resize: none;
    margin: 0px;
    margin-bottom: 4px;
    display: block;
}

.new-comment {
    height: 425px;
}

.accordion-button[aria-expanded='true']::before,
.accordion-button[aria-selected='true']::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+);
}

.properties-db-lable {
    background-color: #5f5f5f;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 5px;
    box-sizing: border-box;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}